[submodule "ws-mod"]
  path = ws-mod
  url = https://github.com/sloe/ws-mod.git
[submodule "gallery3-contrib"]
  path = gallery3-contrib
  url = https://github.com/gallery/gallery3-contrib.git
[submodule "ws-sloe"]
  path = ws-sloe
  url = https://github.com/sloe/ws-sloe.git
