# We store Gallery3 data in var
var

# local.php is a local customization point that gets loaded at the end of index.php
local.php

# http://codex.galleryproject.org/Gallery3:Using_Vagrant
Vagrantfile
.vagrant

# Sloe ignores
.project

# Editor files
*~

# Contrib module symlinks
modules/about
modules/about_this_album
modules/about_this_photo
modules/addthis
modules/adsense
modules/albumpassword
modules/albumtree
modules/all_tags
modules/allcomments
modules/arrow_nav
modules/atom
modules/author
modules/auto_date
modules/autorotate
modules/aws_s3
modules/basket
modules/basket_plus
modules/batchtag
modules/calendarview
modules/captionator
modules/carousel
modules/contactowner
modules/content_warning
modules/custom_menus
modules/database_info
modules/date_tag
modules/default_sort
modules/developer
modules/digibug
modules/displaytags
modules/downloadalbum
modules/downloadfullsize
modules/dynamic
modules/ecard
modules/editcaptured
modules/editcreation
modules/embed_videos
modules/embedlinks
modules/emboss
modules/event_watcher
modules/exif_gps
modules/export_facebook
modules/favourites
modules/fittoscreen
modules/fotomotorw
modules/g1_import
modules/gmaps
modules/google_analytics
modules/gwtorganize
modules/hide
modules/highroller
modules/html_uploader
modules/image_optimizer
modules/iptc
modules/item_links
modules/itemchecksum
modules/jhead
modules/keeporiginal
modules/language_flags
modules/latestalbums
modules/latestupdates
modules/ldap
modules/metadescription
modules/minislideshow
modules/moduleorder
modules/moduleupdates
modules/movie_tools
modules/navcarousel
modules/no_home_link
modules/nobots
modules/noffmpeg
modules/pages
modules/pam
modules/panorama
modules/pdf
modules/photo_annotation
modules/phpmailer
modules/picasa_faces
modules/polar_rose
modules/proofsheet
modules/purifier
modules/quotas
modules/rawphoto
modules/rectangle_thumbs
modules/register
modules/remote
modules/rescue
modules/rwinfo
modules/scheduler
modules/session_explorer
modules/sharephoto
modules/short_search_fix
modules/social_share
modules/square_thumbs
modules/sso
modules/star
modules/strip_exif
modules/tag_albums
modules/tag_cloud
modules/tag_cloud_html5
modules/tag_cloud_page
modules/tag_it
modules/tagfaces
modules/tagsinalbum
modules/tagsmap
modules/themeroller
modules/transcode
modules/transliterate
modules/unrest
modules/user_albums
modules/user_chroot
modules/user_homes
modules/user_info
modules/user_rest
modules/videodimensions
modules/videos
modules/webdav
modules/win_platform
modules/wordpress_auth

